


<section id="section3" class="about-page">

    <div class="tiles-section">

        <div class="top-part"></div>
        <div class="bottom-part"></div>

        <div class="container tiles-container flex-box">

            <div class="row" style="flex-grow: 1;display: flex;justify-content: center;/* align-content: center; */align-items: center;text-align: center;">
                <div class="col-md-12">
                    <h2 style="text-transform: uppercase; font-weight: 300;">Text about my knowledge and job</h2>
                </div>
            </div>

            <div class="row" style="flex-grow: 2">

                <div class="col-md-4 col-sm-6 service wow fadeInUp animated tile" data-wow-duration="0.5s" data-wow-delay="0.4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s;">

                    <div class="jumbotron text-center wow fadeInUp">
                        <h2>Main Page</h2>
                        <i style="font-size: 50px" class="icon icon-desktop"></i>
                        <h4>Marketing Online</h4>
                        <p>SEO, SEM, Email Marketing, Google Analytics &amp; Community management.</p>
                    </div>

                </div>

                <div class="col-md-4 col-sm-6 service wow fadeInUp animated tile" data-wow-duration="0.5s" data-wow-delay="0.6s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s;">

                    <div class="jumbotron text-center wow fadeInUp">
                        <h2>Main Page</h2>
                        <i style="font-size: 50px" class="icon icon-tools"></i>
                        <h4>Marketing Online</h4>
                        <p>SEO, SEM, Email Marketing, Google Analytics &amp; Community management.</p>
                    </div>

                </div>

                <div class="col-md-4 col-sm-6 service wow fadeInUp animated tile" data-wow-duration="0.5s" data-wow-delay="0.8s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.5s;">

                    <div class="jumbotron text-center wow fadeInUp">
                        <h2>Main Page</h2>
                        <i style="font-size: 50px" class="icon icon-browser"></i>
                        <h4>Marketing Online</h4>
                        <p>SEO, SEM, Email Marketing, Google Analytics &amp; Community management.</p>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div class="content-section">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6 bg-side">
                    <div class="img-fix img-fix-2">

                        <figcaption class="portfolio-caption"><div class="portfolio-caption-inner">
                            <h3 class="portfolio-title">Dreams visualization</h3>
                            <h4 class="portfolio-cat">Photography</h4>
                            <div class="btn-group">
                                <a class="btn-link" target="_blank" href="http://photodune.net/?osr=tn&amp;_ga=1.93421085.1097235765.1428662395">
                                    <i class="icon icon-link"></i>
                                </a>
                                <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline1">
                                    <i class="icon icon-eye"></i>
                                </a>
                                <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline2"></a>
                                <a class="portfolioFancybox hidden" data-fancybox-group="portfolioFancybox1" href="#portfolio1-inline3"></a>
                            </div>
                        </div>
                        </figcaption>

                    </div>
                </div>
                <div class="col-md-6 data-side">
                    <div class="img-fix img-fix-1 flex-box">
                        <div class="jumbotron text-center wow fadeInUp">
                            <h1>Main Page</h1>

                            <p>{{ message }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--<div class="divider">-->

    <!--</div>-->

    <div class="content-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 bg-side">
                    <div class="img-fix img-fix-3">
                        <!--<div class="jumbotron text-center wow fadeInUp">-->
                        <!--<h1>Main Page</h1>-->

                        <!--<p>{{ message }}</p>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="col-md-6 data-side wow fadeInUp">
                    <div class="img-fix img-fix-1 flex-box">
                        <div class="jumbotron text-center wow fadeInUp">
                            <h1>Main Page</h1>

                            <p>{{ message }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div class="divider">-->

    <!--</div>-->

    <div class="content-section">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6 bg-side">
                    <div class="img-fix img-fix-4">
                        <!--<div class="jumbotron text-center wow fadeInUp">-->
                        <!--<h1>Main Page</h1>-->

                        <!--<p>{{ message }}</p>-->
                        <!--</div>-->
                    </div>
                </div>
                <div class="col-md-6 data-side">
                    <div class="img-fix img-fix-1">
                        <div class="jumbotron text-center wow fadeInUp">
                            <h1>Main Page</h1>

                            <p>{{ message }}</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="content-section">
        <div class="container-fluid">

            <div class="row wow fadeInUp">
                <div class="col-md-6">
                    <div class="img-fix img-fix-1">
                        <div class="jumbotron text-center wow fadeInUp">
                            <h1>Main Page</h1>

                            <p>{{ message }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-fix img-fix-2">
                        <!--<div class="jumbotron text-center wow fadeInUp">-->
                        <!--<h1>Main Page</h1>-->

                        <!--<p>{{ message }}</p>-->
                        <!--</div>-->
                    </div>
                </div>

            </div>

        </div>
    </div>

    <!--<div class="divider">-->

    <!--</div>-->

    <div class="content-section">
        <div class="container-fluid">
            <div class="row wow fadeInUp">
                <div class="col-md-6">
                    <div class="img-fix img-fix-1">
                        <div class="jumbotron text-center wow fadeInUp">
                            <h1>Main Page</h1>

                            <p>{{ message }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-fix img-fix-3">
                        <!--<div class="jumbotron text-center wow fadeInUp">-->
                        <!--<h1>Main Page</h1>-->

                        <!--<p>{{ message }}</p>-->
                        <!--</div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--<div class="divider">-->

    <!--</div>-->

    <div class="content-section">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-6">
                    <div class="img-fix img-fix-1">
                        <div class="jumbotron text-center wow fadeInUp">
                            <h1>Main Page</h1>

                            <p>{{ message }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="img-fix img-fix-4">
                        <!--<div class="jumbotron text-center wow fadeInUp">-->
                        <!--<h1>Main Page</h1>-->

                        <!--<p>{{ message }}</p>-->
                        <!--</div>-->
                    </div>
                </div>

            </div>

        </div>
    </div>

</section>
