<!DOCTYPE html>
<html lang="en" ng-app="portfolioApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">

    <title>Daniil Sydorenko | Portfolio | Web Developer</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
          type="text/css">
    <link rel="stylesheet" href="dist/css/build.min.css">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4v_8kzUhXhYR6d7AvqedRKDfUYZkAovM&language=en"></script>
    <style>
        #map {
            height: 500px;
            width: 100%;
        }
    </style>
</head>

<body ng-controller="MainController">

<header class="header animated">
    <nav class="nav-transparent flex-box">
        <div class="logo-name">
            <p>D<span>aniil Sydorenko</span></p>
        </div>
        <div id="nav-icon2" class="menu-btn-wrapper">
            <span class="menu-btn-line"></span>
            <span class="menu-btn-line"></span>
            <span class="menu-btn-line"></span>
            <span class="menu-btn-line"></span>
            <span class="menu-btn-line"></span>
            <span class="menu-btn-line"></span>
        </div>
    </nav>
</header>

<div id="home" class="responsiveMobileMenu">
    <ul class="mobileMenu flex-box">
        <li class="show">
            <a class="scroll" href="#section-home" role="menuitem">
                <h3>Home</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#section5" role="menuitem">
                <h3>About me</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#section5" role="menuitem">
                <h3>Skills</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#section5" role="menuitem">
                <h3>Projects</h3>
            </a>
        </li>
        <li class="show">
            <a class="scroll" href="#section5" role="menuitem">
                <h3>Contact</h3>
            </a>
        </li>
    </ul>
</div>

<!-- Section Home -->
<section id="section-home" class="homepage-hero-module">
    <div class="hero-text-container flex-box">
        <div class="hero-text">
            <p>Hi, I`m glad to see you!</p>
            <p>Full Stack Developer | Inspired by Web</p>
        </div>
    </div>
    <div class="overlay"></div>
    <div class="video-container">
        <!--<div class="filter"></div>-->
        <video autoplay loop class="fillWidth">
            <source src="assets/video/MP4/Aloha-Mundo.mp4" type="video/mp4"/>
            Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="assets/video/WEBM/Aloha-Mundo.webm" type="video/webm"/>
            Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <!--<img src="assets/img/bg/White-Keyboard.jpg" alt="Background">-->
        </div>
    </div>
</section>
<!-- End Section Home -->

<section id="cd-timeline" class="cd-container">

    <div class="section-header l-header">
        <h2>professional life</h2>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="assets/img/timeline/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Primaris</h2>
            <p>Web development. Budowa i rozwój aplikacji internetowych przy użyciu firmowego frameworka opartego o PHP
                5.6, Doctrine 2, MySQL. Również budowa i rozwój front-endu stron(Twig, HTML5, CSS3, Bootstrap 3).
                Kompletne projektowanie i realizacja serwisu(back-end i front-end) dla ligi squashowej. Testy
                jednostkowe PHPUnit;</p>
            <span class="cd-date">Jan 14</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="assets/img/timeline/cd-icon-movie.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
            <h2>Unit27</h2>
            <p>Web development. Budowa i rozwój aplikacji internetowych przy użyciu firmowego frameworka opartego o PHP
                5.6, Doctrine 2, MySQL. Również budowa i rozwój front-endu stron(Twig, HTML5, CSS3, Bootstrap 3).
                Kompletne projektowanie i realizacja serwisu(back-end i front-end) dla ligi squashowej. Testy
                jednostkowe PHPUnit;</p>
            <span class="cd-date">Jan 18</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-picture">
            <img src="assets/img/timeline/cd-icon-picture.svg" alt="Picture">
        </div>

        <div class="cd-timeline-content">
            <h2>Szafa.pl</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias
                eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem
                doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio
                natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae
                quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam
                sunt similique aut adipisci.</p>
            <span class="cd-date">Jan 24</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="assets/img/timeline/cd-icon-location.svg" alt="Location">
        </div>

        <div class="cd-timeline-content">
            <h2>Ideo</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic
                quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui
                ut.</p>
            <span class="cd-date">Feb 14</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-location">
            <img src="assets/img/timeline/cd-icon-location.svg" alt="Location">
        </div>

        <div class="cd-timeline-content">
            <h2>WSIZ</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
            <span class="cd-date">Feb 18</span>
        </div>
    </div>

    <div class="cd-timeline-block">
        <div class="cd-timeline-img cd-movie">
            <img src="assets/img/timeline/cd-icon-movie.svg" alt="Movie">
        </div>

        <div class="cd-timeline-content">
            <h2>HIRE</h2>
            <p>This is the content of the last section</p>
            <span class="cd-date">Feb 26</span>
        </div>
    </div>
</section>

<section id="section4" class="skills-page">


    <div class="container tiles-container flex-box">

        <div class="section-header d-header">
            <h2>skills</h2>
        </div>

        <div class="row" style="flex-grow: 2">
            <!-- Backend -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 skills-wrap service wow fadeInUp animated tile"
                 data-wow-duration="0.5s" data-wow-delay="0.4s">
                <skill-directive rwd-class="col-md-4 col-sm-6"
                                 skill-header="{{ skills.backend.skillHeader }}"
                                 skill-icon="{{ skills.backend.skillIcon }}"
                                 skill-sub-header="{{ skills.backend.skillSubHeader }}"
                                 skill-text="{{ skills.backend.skillText }}">
                </skill-directive>
            </div>

            <!-- Frontend -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 skills-wrap service wow fadeInUp animated tile"
                 data-wow-duration="0.6s" data-wow-delay="0.5s">
                <skill-directive rwd-class="col-md-4 col-sm-6"
                                 skill-header="{{ skills.frontend.skillHeader }}"
                                 skill-icon="{{ skills.frontend.skillIcon }}"
                                 skill-sub-header="{{ skills.frontend.skillSubHeader }}"
                                 skill-text="{{ skills.frontend.skillText }}">
                </skill-directive>
            </div>

            <!-- Automation tools -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 skills-wrap service wow fadeInUp animated tile"
                 data-wow-duration="0.7s" data-wow-delay="0.6s">
                <skill-directive rwd-class="col-md-4 col-sm-6"
                                 skill-header="{{ skills.aut_tools.skillHeader }}"
                                 skill-icon="{{ skills.aut_tools.skillIcon }}"
                                 skill-sub-header="{{ skills.aut_tools.skillSubHeader }}"
                                 skill-text="{{ skills.aut_tools.skillText }}">
                </skill-directive>
            </div>

            <!-- Usability -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 skills-wrap service wow fadeInUp animated tile"
                 data-wow-duration="0.8s" data-wow-delay="0.7s">
                <skill-directive rwd-class="col-md-4 col-sm-6"
                                 skill-header="{{ skills.usability.skillHeader }}"
                                 skill-icon="{{ skills.usability.skillIcon }}"
                                 skill-sub-header="{{ skills.usability.skillSubHeader }}"
                                 skill-text="{{ skills.usability.skillText }}">
                </skill-directive>
            </div>

            <!-- Browser tools -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 skills-wrap service wow fadeInUp animated tile"
                 data-wow-duration="0.9s" data-wow-delay="0.8s">
                <skill-directive rwd-class="col-md-4 col-sm-6"
                                 skill-header="{{ skills.browser_tools.skillHeader }}"
                                 skill-icon="{{ skills.browser_tools.skillIcon }}"
                                 skill-sub-header="{{ skills.browser_tools.skillSubHeader }}"
                                 skill-text="{{ skills.browser_tools.skillText }}">
                </skill-directive>
            </div>

            <!-- Version control -->
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 skills-wrap service wow fadeInUp animated tile"
                 data-wow-duration="0.9s" data-wow-delay="0.8s">
                <skill-directive rwd-class="col-md-4 col-sm-6"
                                 skill-header="{{ skills.version_control.skillHeader }}"
                                 skill-icon="{{ skills.version_control.skillIcon }}"
                                 skill-sub-header="{{ skills.version_control.skillSubHeader }}"
                                 skill-text="{{ skills.version_control.skillText }}">
                </skill-directive>
            </div>
        </div>

    </div>

</section>

<section id="section5" class="projects-section">
    <div class="section-header l-header">
        <h2>projects</h2>
    </div>

    <div class="section-content rside dark-content">
        <div class="container-fluid">
            <div class="row">
                <!-- Image -->
                <div class="col-md-6 bg-side">
                    <div class="img-fix project-1">
                        <div class="project-overlay"></div>
                        <div class="portfolio-caption flex-box">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Dreams visualization</h3>
                                <i class="icon icon-attachment"></i>
                                <h4 class="portfolio-cat">Photography</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Data -->
                <div class="col-md-6 data-side">
                    <project-directive
                            project-description="projects.zszywka.data" side="data">
                    </project-directive>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content lside light-content">
        <div class="container-fluid">
            <div class="row">
                <!-- Data -->
                <div class="col-md-6 data-side">
                    <project-directive
                            project-description="projects.flex_mix.data">
                    </project-directive>
                </div>
                <!-- Image -->
                <div class="col-md-6 bg-side">
                    <div class="img-fix project-6">
                        <div class="project-overlay"></div>
                        <div class="portfolio-caption flex-box">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Dreams visualization</h3>
                                <i class="icon icon-attachment"></i>
                                <h4 class="portfolio-cat">Photography</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content rside dark-content">
        <div class="container-fluid">
            <div class="row">
                <!-- Image -->
                <div class="col-md-6 bg-side">
                    <div class="img-fix project-1">
                        <div class="project-overlay"></div>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Zszywka</h3>
                                <i class="icon icon-attachment"></i>
                                <h4 class="portfolio-cat">Go to website</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Data -->
                <div class="col-md-6 data-side">
                    <project-directive
                            project-description="projects.zszywka.data">
                    </project-directive>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content lside light-content">
        <div class="container-fluid">
            <div class="row">
                <!-- Data -->
                <div class="col-md-6 data-side">
                    <project-directive
                            project-description="projects.zszywka.data">
                    </project-directive>
                </div>
                <!-- Image -->
                <div class="col-md-6 bg-side">
                    <div class="img-fix project-4">
                        <div class="project-overlay"></div>
                        <div class="portfolio-caption flex-box">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Dreams visualization</h3>
                                <h4 class="portfolio-cat">Photography</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content rside dark-content">
        <div class="container-fluid">
            <div class="row">
                <!-- Image -->
                <div class="col-md-6 bg-side">
                    <div class="img-fix project-3">
                        <div class="project-overlay"></div>
                        <div class="portfolio-caption flex-box">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Dreams visualization</h3>
                                <h4 class="portfolio-cat">Photography</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Data -->
                <div class="col-md-6 data-side">
                    <project-directive
                            project-description="projects.zszywka.data">
                    </project-directive>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content lside light-content">
        <div class="container-fluid">
            <div class="row">
                <!-- Data -->
                <div class="col-md-6 data-side">
                    <project-directive
                            project-description="projects.zszywka.data">
                    </project-directive>
                </div>
                <!-- Image -->
                <div class="col-md-6 bg-side">
                    <div class="img-fix project-2">
                        <div class="project-overlay"></div>
                        <div class="portfolio-caption flex-box">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Dreams visualization</h3>
                                <h4 class="portfolio-cat">Photography</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section-content rside dark-content">
        <div class="container-fluid">
            <div class="row">
                <!-- Image -->
                <div class="col-md-6 bg-side">
                    <div class="img-fix project-1">
                        <div class="project-overlay"></div>
                        <div class="portfolio-caption flex-box">
                            <div class="portfolio-caption-inner">
                                <h3 class="portfolio-title">Dreams visualization</h3>
                                <i class="icon icon-attachment"></i>
                                <h4 class="portfolio-cat">Photography</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Data -->
                <div class="col-md-6 data-side">
                    <project-directive
                            project-description="projects.zszywka.data" side="data">
                    </project-directive>
                </div>
            </div>
        </div>
    </div>

</section>

<footer class="footer">

    <section class="contact-content light-content">

        <div class="section-header d-header">
            <h2>Contact</h2>
        </div>

        <div class="container">
            <div class="row">

                <form name="userForm"
                      class="contact-form col-lg-6 col-md-6 col-sm-12 col-xs-12" novalidate>

                    <div class="contact-data col-md-12">
                        <a href="tel:48537579280">
                            <i class="fa fa-phone"></i>+48-537-579-280
                        </a>
                        <a href="mailto:daniildeveloper@gmail.com">
                            <i class="fa fa-paper-plane-o"></i>daniildeveloper@gmail.com
                        </a>
                    </div>

                    <!-- Name -->
                    <div class="col-md-12 input-wrapper"
                         ng-class="{'error' : userForm.name.$invalid && userForm.name.$touched}">
                        <input type="text" name="name" id="name" class="input-field"
                               ng-model="contactForm.name"
                               ng-maxlength="20"
                               ng-required="true">
                        <label for="name">Name<span>*</span></label>
                        <p class="error-message" ng-show="userForm.name.$invalid && userForm.name.$touched">Name is
                            incorrect</p>
                    </div>

                    <!-- Email -->
                    <div class="col-md-12 input-wrapper"
                         ng-class="{'error' : userForm.email.$invalid && userForm.email.$touched}">
                        <input type="email" name="email" id="email" class="input-field"
                               ng-model="contactForm.email"
                               ng-required="true">
                        <label for="email">Email<span>*</span></label>
                        <p class="error-message" ng-show="userForm.email.$invalid && userForm.email.$touched">Email is
                            incorrect</p>
                    </div>

                    <!-- Message -->
                    <div class="col-md-12 input-wrapper"
                         ng-class="{'error' : userForm.message.$invalid && userForm.message.$touched}">
                        <textarea rows="7" name="message" id="message" class="input-field"
                                  ng-model="contactForm.message"
                                  ng-required="true"></textarea>
                        <label for="message">Message<span>*</span></label>
                        <p class="error-message" ng-show="userForm.message.$invalid && userForm.message.$touched">
                            Message is incorrect</p>
                    </div>

                    <!-- Submit -->
                    <div class="col-md-12"
                         ng-class="{'error' : userForm.$submitted && userForm.$invalid}">
                        <p class="error-message submit-message" ng-show="userForm.$submitted && userForm.$invalid">Some
                            fields are invalid</p>
                        <button type="submit" class="btn"
                                ng-class="{'disabled' : userForm.$invalid && userForm.$touched}"
                                ng-disabled="userForm.$invalid && userForm.$touched">
                            <i class="fa fa-paper-plane-o"></i>Send
                        </button>
                    </div>
                </form>

                <!-- Google Map -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="social-content">
        <div class="container">
            <div class="row center-xs">

                <div class="fadeInUp wow animated">
                    <div class="social-links-content">
                        <span class="social-links">
                            <a href="https://www.facebook.com/daniil.sydorenko" title="I am on Facebook"
                               target="_blank">
                                <i class=" fa fa-facebook"></i>
                            </a>
                        </span>
                        <span class="social-links">
                            <a href="https://twitter.com/dansydorenko" title="I am on Twitter" target="_blank">
                                <i class=" fa fa-twitter"></i>
                            </a>
                        </span>
                        <span class="social-links">
                            <a href="https://www.linkedin.com/in/dsydorenko" title="I am on Linkedin" target="_blank">
                                <i class=" fa fa-linkedin"></i>
                            </a>
                        </span>
                        <span class="social-links">
                            <a href="https://github.com/DaniilSydorenko" title="I am on Github" target="_blank">
                                <i class=" fa fa-github"></i>
                            </a>
                        </span>
                    </div>
                    <div class="footer-text">
                        <!-- Copyright -->
                        <div class="footer-copyright">
                            <p>&copy; Daniil Sydorenko {{copyYear}}</p>
                        </div>

                        <!-- Made with -->
                        <div class="footer-made">
                            <p>Made with <span><i class="fa fa-heart"></i></span>
                                for future, technologies and trip to Tibet.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</footer>

<!-- Scripts build -->
<script src="dist/js/build.min.js"></script>

<!-- Google aps implementation -->
<script>
    var map;
    map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 52.2452118, lng: 20.9881184},
        zoom: 10
    });
</script>
</body>
</html>